.img-bulb{
    width: 200px;
    
}
.img-cat{
width: 200px;
}
.dark-background{
background-color: #0b0b0b;
text-align: center;
}

.switch-board{
    margin: 5px;
    background-color: rgb(111, 215, 241);
    padding: 15px;
    border-radius: 10px;
}

.off-switch{
    color: white;
    background-color: rgb(73, 81, 185);
    width: 50px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
   font-family:'Times New Roman', Times, serif;
   font-size: 20px;
   padding-bottom: 20px;
}

.on-switch{
    color: white;
    background-color: rgb(73, 81, 185);
    width: 50px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
   font-family:'Times New Roman', Times, serif;
   font-size: 20px;
   padding-bottom: 20px;
}